<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="container">
    <ion-card-content class="ion-text-center">
      <ion-item>
        <ion-label position="floating">Nombre de Usuario</ion-label>
        <ion-input [(ngModel)]="nombre" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="clave" required></ion-input>
      </ion-item>
      <div class="ion-margin-vertical">
        <ion-button expand="block" (click)="iniciarSesion()">Iniciar sesión</ion-button>
        <!-- <a routerLink="/tabs/tab3">Olvidé mi contraseña</a> -->
      </div>
      <div style="border-top: 1px solid gainsboro" class="ion-padding-vertical">
        <ion-button (click)="registrarse()" color="success">Registrarse</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
