<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container ion-padding ion-text-center">
      <ion-item>
        <ion-label position="floating">Nombre de Usuario</ion-label>
        <ion-input [(ngModel)]="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="clave"></ion-input>
      </ion-item>
      <div class="ion-margin-vertical">
        <ion-button expand="block" size="large" (click)="iniciarSesion()" [disabled]="!(nombre && clave)">Iniciar sesión</ion-button>
      </div>
      <div style="border-top: 1px solid gainsboro" class="ion-padding-vertical">
        <ion-button size="large" (click)="registrarse()" color="success">Registrarse</ion-button>
      </div>
  </div>
</ion-content>