<ion-content>
  <form class="container ion-padding ion-text-center" (ngSubmit)="iniciarSesion()">
    <img class="ion-padding" src="../../../assets/logo.svg" />
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" name="clave" [(ngModel)]="clave"></ion-input>
    </ion-item>

    <div class="ion-margin-vertical">
      <ion-button expand="block" size="large" type="submit" [disabled]="!(email && clave)">Iniciar sesión</ion-button>
    </div>
    <div style="border-top: 1px solid gainsboro" class="ion-padding-vertical">
      <ion-button size="large" type="button" color="success" (click)="registrarse()">Registrarse</ion-button>
    </div>
  </form>
</ion-content>