<ion-card>
  <ion-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <ion-input
        label="Email"
        labelPlacement="floating"
        fill="outline"
        type="email"
        placeholder="example@company.com"
        errorText="Ingrese un correo válido"
        formControlName="email"
        class="ion-margin-bottom"
      ></ion-input>
      <ion-input
        label="Password"
        labelPlacement="floating"
        fill="outline"
        type="password"
        errorText="Ingrese una contraseña"
        formControlName="password"
        class="ion-margin-bottom"
      ></ion-input>

      <ion-button
        color="success"
        expand="block"
        type="submit"
        class="ion-margin-bottom"
        [disabled]="form.invalid"
      >
        Iniciar sesión
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>
      <ion-button color="tertiary" expand="block" (click)="fill()">
        Llenar campos
        <ion-icon slot="end" name="document-text-outline"></ion-icon>
      </ion-button>
    </form>
  </ion-card-content>
</ion-card>